.DS_Store
.vscode

# python
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# venv
.venv

# pytest
.pytest_cache
.cache

# coverage
.coverage
htmlcov

# sphinx
/doc/_build/
/doc/gen_modules/
/doc/generated/
/doc/auto_examples/

# pyomo
*.log

# experiments
**/datasets/*.npy
**/datasets/*.pkl
**/results/*.pickle
**/saves/*.yaml
**/saves/*.csv
experiments/scripts/**
!experiments/scripts/oar.py
!experiments/scripts/exp.py